<?xml version="1.0" encoding="utf-8"?>
<CodeCoverage>
  <CommunicationTimeout>120000</CommunicationTimeout>
  <CollectFromChildProcesses>true</CollectFromChildProcesses>
  <EnableStaticNativeInstrumentation>true</EnableStaticNativeInstrumentation>
  <EnableDynamicNativeInstrumentation>true</EnableDynamicNativeInstrumentation>

  <ModulePaths>
    <Include>
      <ModulePath>.*\\jam2(?:[-_][^\\]+)?\.exe$</ModulePath>
      <ModulePath>.*\\jamtaster(?:[-_][^\\]+)?\.exe$</ModulePath>
    </Include>
  </ModulePaths>

  <Sources>
    <Include>
      <Source>.*\\app\\.*</Source>
      <Source>.*\\libs\\jam2-core\\.*</Source>
    </Include>
    <Exclude>
      <Source>.*\\third_party\\.*</Source>
      <Source>.*\\CMakeFiles\\.*_autogen\\.*</Source>
    </Exclude>
  </Sources>

  <Functions>
    <Exclude>
      <Function>^std::.*</Function>
      <Function>^ATL::.*</Function>
      <Function>^Microsoft::VisualStudio::.*</Function>
      <Function>^__.*</Function>
      <Function>.*::__.*</Function>
    </Exclude>
  </Functions>
</CodeCoverage>
